<!-- Sunrise and sunset api from https://sunrise-sunset.org/api -->

<template>
    <div class="container">
        <h1>Welcome to Day Length Calculator!</h1>
        <p>Day length calculator is a tool where you can find the sunrise and sunset times and day length for any place in the world!</p>
        <h2>Enter coordinates or choose a location from the map</h2>
        <div class="input">
            <div class="coordinate">
                <label for="lat">Latitude</label>
                <input v-model="lat" placeholder="Enter latitude here">
            </div>
            <div class="coordinate">
                <label for="long">Longitude</label>
                <input v-model="long" placeholder="Enter longitude here">
            </div>
            <div class="date">
                <label for="sunDate">Day</label>
                <input type="date" v-model="sunDate">
            </div>
            <button v-on:click="getTimes(lat, long, sunDate)">Find day length</button>
        </div>
        <div class="results">
            <p class="info">Sunrise: </p>
            <p id="sunrise"> </p><br>
            <p class="info"> Sunset: </p>
            <p id="sunset"> </p><br>
            <p class="info"> Day length: </p>
            <p id="daylength"> </p>
        </div>
    </div>
</template>

<script>
import axios from "axios";

export default {
    name: 'InputView',
    data () {
        return {
            lat: this.coordinates[0],
            long: this.coordinates[1],
            sunDate: new Date().toISOString().split('T')[0], // Drop the time part of a date
            sunriseTime: 0,
            sunsetTime: 0,
            dayLength: 0
        };
    },
    methods: {
        // Method fired on clicking the send button
        getTimes: function(lat, long, date) {
            // If latitude/longitude/date is not entered
            if (date == "" || lat == 0 || long == 0) {
                console.log("Can't send request");
                return;
            }

            // Send request to the sunrise-sunset server
            axios({
                method: "GET",
                "url": "https://api.sunrise-sunset.org/json?",
                params: {
                    lat: lat,
                    lng: long,
                    date: date
                }
            }).then(result => { // When a result is received
                // Save sunrise/sunset times and day length
                this.dayLength = result.data.results.day_length;
                this.sunriseTime = result.data.results.sunrise;
                this.sunsetTime = result.data.results.sunset;

                // Notify parent component of coordinates
                this.$emit("coordinates", [this.lat, this.long]);

                // Display results in document
                document.getElementById("sunrise").innerHTML = this.sunriseTime + " UTC";
                document.getElementById("sunset").innerHTML = this.sunsetTime + " UTC";
                document.getElementById("daylength").innerHTML = this.dayLength;
            }, error => { // When there is an error while sending the request
                console.error(error);
            });
        }
    },
    props: {
        coordinates: {
            type: Array,
            validator: function (value) {
                return value.length == 2
            }
        }
    },
    watch: {
        // Update latitude and longitude every time coordinates change in parent component
        coordinates: function () {
            this.lat = this.coordinates[0];
            this.long = this.coordinates[1];
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .container {
        display: inline-block;
        height: 600px;
        display: grid;
        place-items: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .container > p {
        margin-left: 40px;
        margin-right: 40px;
    }
    .input {
        width: 200px;
        text-align: left;
    }
    .coordinate > label, .date > label {
        display: block;
        text-align: left;
        margin-left: 10px;
        color: #32a8a2;
    }
    input {
        margin: 5px;
        padding: 5px;
        width: 200px;
        border-radius: 5px;
        border-style: solid;
        border-color: #eeeeee;
        background-color: #eeeeee;
    }
    input:focus {
        outline: none;
        border-bottom: 2px solid #32a8a2;
    }
    button {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 5px;
        border-style: solid;
        border-color: #009999;
        background-color: #009999;
        color: #ffffff;
    }
    button:hover {
        outline: none;
        background-color: #00bbbb;
        border-color: #00bbbb;
    }
    button:focus {
        outline: none;
    }
    h2 {
        margin-left: 40px;
        margin-right: 40px;
        color: #00bbbb;
    }
    .results {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 40px;
        margin-right: 40px;
        font-weight: bold;
        text-align: left;
    }
    .info {
        color: #00bbbb;
    }
    .results > p {
        display: inline-block;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
    }
</style>
