<template>
    <div class="map">
        <!-- Here will be the map -->
        <div id="mapid"></div>
    </div>
</template>

<script>
import "leaflet/dist/leaflet.css";
import icon from 'leaflet/dist/images/marker-icon.png';
import iconShadow from 'leaflet/dist/images/marker-shadow.png';
import L from "leaflet";

// Specify which icon should the marker use
let DefaultIcon = L.icon({
    iconUrl: icon,
    shadowUrl: iconShadow,
    iconSize: [24, 36],
    iconAnchor: [12, 36]
});
L.Marker.prototype.options.icon = DefaultIcon;

export default {
    name: 'MapView',
    data () {
        return {
            map: null,
            marker: null
        }
    },
    methods: {
        // Method for moving the marker into the location given by parameter "coords"
        moveMarker (coords) {
            if (this.marker != null) {
                this.map.removeLayer(this.marker);
            }
            this.marker = L.marker(coords).addTo(this.map);
            this.map.setView(coords); // Center the map view on the marker
        }
    },
    mounted () {
        // Create the map instance
        this.map = L.map("mapid").setView(this.coordinates, 12);
        L.tileLayer("http://{s}.tile.osm.org/{z}/{x}/{y}.png", {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18
        }).addTo(this.map);
        // Add marker to map
        this.marker = L.marker(this.coordinates).addTo(this.map);

        var self = this;
        this.map.on('click', function (event) { // When the map is clicked on
            // The marker will be moved to the place clicked
            self.moveMarker([event.latlng.lat, event.latlng.lng]);
            // Notify parent component about a change in coordinates
            self.$emit("coordinates", [event.latlng.lat, event.latlng.lng]);
        });
    },
    beforeDestroy() {
        if (this.map) {
            this.map.remove();
        }
    },
    props: {
        coordinates: {
            type: Array
        }
    },
    watch: {
        // Move the marker to the right place every time coordinates change in parent component
        coordinates: function() {
            this.moveMarker(this.coordinates);
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#mapid {
    height: 400px;
    width: 100%;
}
</style>