<template>
    <div orientation="horizontal" id="app">
        <!-- Every time coordinates are changed in either of the child components, updateCoordinates is called -->
        <InputView :coordinates="coordinates" @coordinates="updateCoordinates"/>
        <MapView :coordinates="coordinates" @coordinates="updateCoordinates"/>
    </div>
</template>

<script>
import InputView from './components/InputView.vue'
import MapView from './components/MapView.vue'

export default {
    name: 'App',
    components: {
        InputView,
        MapView
    },
    data() {
        return {
            // At first, the map will be centered on CGI Tartu office
            coordinates: [58.36498670708919, 26.741157174110416]
        }
    },
    methods: {
        updateCoordinates (coordinates) {
            this.coordinates = coordinates;
        }
    }
}
</script>

<style>
html, body {
    background-color: #f0efe9;
    display: flex;
    justify-content: center;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background-color: #ffffff;
    color: #2c3e50;

    width: 600px;
    margin-top: 60px;
    margin-bottom: 60px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 4px 4px 8px -1px #dadada;
}
</style>
